/* MARGINS FOR PAGE NUMBERS */

/* This adds margins around every page to stop ADE's line numbers
   from being superimposed over content  */
@page {
	margin: 10px;
}

/* CSS RESET - aim is to prevent cross-reader strangeness */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* FONT FACES */

@font-face {
	font-family: "acaslonpro";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/acaslonpro-regular.otf");
}

/* GLOBAL STYLES */

* {
	box-sizing: border-box;
}

html,
body {
	font-size: 16pt;
	font-family: "acaslonpro";
}

/* COVER PAGE */

#p-cover img {
	/* Not sure if any styles are needed? Maybe not? */
	/* How can I "fill" the cover image page? Maybe large image does it already? */
	/* Could reference Calibre output, but for now, this seems to work */
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}

/* TITLE PAGE */

#p-preliminary #s-titlepage {
	page-break-before: always;
}

#p-preliminary #s-titlepage h1 {
	font-size: 1em;
	font-weight: 400;
	padding-top: 1em;
	text-align: center;
}

#p-preliminary #s-titlepage h2 {
	font-size: 0.625em;
	margin-top: 1.5em;
	font-weight: 400;
	text-align: center;
	letter-spacing: 0.05em;
}

#p-preliminary #s-titlepage img {
	display: block;
	margin: 2em auto;
	width: 4em;
	height: auto;
}

#p-preliminary #s-titlepage p {
	margin-top: 2em;
	font-size: 0.625em;
	margin: 0 auto;
	max-width: 22em;
	text-align: justify;
	text-align-last: justify;
	word-break: keep-all;
	letter-spacing: 0.05em;
}
