/* FONT FACES */

@font-face {
	font-family: "acaslonpro";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/acaslonpro-regular.otf");
}

/* CSS RESET */

/* TODO: add CSS reset. Maybe Eric Meyer?
   or is there an .epub-specific reset that makes more sense?

/* GLOBAL STYLES */

* {
	box-sizing: border-box;
}

html,
body {
	font-size: 16pt;
	font-family: "acaslonpro";
}

/* HALF TITLE PAGE */

#p-preliminary #s-halftitlepage {
	border: 1px solid magenta;
	page-break-after: always;
}

#p-preliminary #s-halftitlepage h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 1rem;
	font-weight: 400;
}

/* TITLE PAGE */

#p-preliminary #s-titlepage {
	border: 1px solid magenta;
	page-break-after: always;
}
