/* MARGINS FOR PAGE NUMBERS */

/* This adds margins around every page to stop ADE's line numbers
   from being superimposed over content  */
@page {
	margin: 10px;
}

/* CSS RESET - aim is to prevent cross-reader strangeness */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ol,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* FONT FACES */

@font-face {
	font-family: "acaslonpro";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/acaslonpro-regular.otf");
}

/* GLOBAL STYLES */

* {
	box-sizing: border-box;
}

html,
body {
	font-size: 16pt;
	font-family: "acaslonpro";
}

/* HALF TITLE PAGE */

#p-preliminary #s-halftitlepage {
	/* NOTE: first page, so no page-break-before is needed */
}

#p-preliminary #s-halftitlepage h1 {
	font-size: 1rem;
	font-weight: 400;
	margin-top: 1rem;
	text-align: center;
	text-transform: uppercase;
	-epub-text-transform: uppercase;
}

/* TITLE PAGE */

#p-preliminary #s-titlepage {
	page-break-before: always;
}

#p-preliminary #s-titlepage h1 {
	font-size: 1.125rem;
	font-weight: 400;
	margin-top: 1rem;
	text-align: center;
	text-transform: uppercase;
	-epub-text-transform: uppercase;
}

#p-preliminary #s-titlepage h2 {
	font-size: 0.75rem;
	margin-top: 1.5rem;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	-epub-text-transform: uppercase;
	letter-spacing: 0.05em;
}

#p-preliminary #s-titlepage img {
	display: block;
	margin: 2rem auto;
	width: 6rem;
	height: auto;
}

#p-preliminary #s-titlepage p {
	margin-top: 2rem;
	font-size: 0.75rem;
	margin: 0 auto;
	max-width: 22em;
	text-align-last: justify;
	-epub-text-align-last: justify;
	text-align: justify;
	text-transform: uppercase;
	-epub-text-transform: uppercase;
	word-break: keep-all;
	-epub-word-break: keep-all;
	letter-spacing: 0.05em;
}
